@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

:root {
  --line-height: 20px;
  --fs-small: 16px;
  --fs-medium: 25px;
  --white-clr: #fff;
  --link-clr: #707cb4;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* wrap and center page content, exclude footer */
.wrapper {
  max-width: 1440px;
  margin: auto;
  /*set default height so the footer do not jump to the top when page content updated */
  min-height: 2000px;
}

/* HEADER SECTION */
header {
  margin: 60px 60px 0 60px;
  background-image: url('../images/header_bg.png');
  overflow: hidden;
  width: 1320px;
  height: 590px;
}

.navbar,
.headerHeroSection {
  margin: 45px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.63) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(25px);
  height: 50px;
  border-radius: 4px;
}

.navbar .logo {
  font-size: var(--fs-medium);
  padding-left: 23px;
}

.activeLink {
  color: #d7d9e2 !important;
}
.fixedNavbar {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: none;
  background: #24123a;
  border-radius: 0;
}

.fixedNavbar > p {
  color: #707cb4;
  margin-left: 336px;
}
.fixedNavbar > .navLinks a {
  color: #707cb4;
}

.fixedNavbar > .navLinks:last-child {
  margin-right: 336px;
}

.navLinks a {
  padding-left: 28px;
  font-size: var(--fs-small);
  text-decoration: none;
  color: var(--link-clr);
  transition: 0.1s ease-in;
}

.navLinks a:hover {
  color: #fffffff3;
}

.headerHeroSection {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 238px;
  height: 417px;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.57));
  border-radius: 4px 0px 4px 4px;
}

.card img {
  width: 238px;
  height: 383px;
  border-radius: 2px;
  margin-top: 35px;
}
.card span {
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  width: 93px;
  height: 35px;
  padding: 7px 17px;
  color: #111827;
  background-color: var(--white-clr);
  font-weight: bold;
  font-size: var(--fs-small);
  line-height: var(--line-height);
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card .titleBox {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 93px;
  background: rgba(0, 0, 0, 0.69);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.card .titleBox p {
  padding: 0 22px;
  font-size: var(--fs-small);
  text-align: center;
  color: var(--white-clr);
}

.centerHeroText {
  color: var(--white-clr);
  text-align: center;
}

.centerHeroText p {
  font-size: var(--fs-medium);
  margin-bottom: 8px;
}

.centerHeroText h1 {
  font-weight: bold;
  font-size: var(--fs-medium);
}

/* MAIN CONTENT */
.mainContent {
  /* header margin + navbar margin = 105px */
  margin: 105px;
}

.sectionTitle {
  font-size: var(--fs-medium);
  color: #1a0029;
  width: 100%;
  margin-top: 29px;
}

.movieSection,
.tvSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.tvSection {
  margin-top: 105px;
}

.card.mainCard {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin-top: 45px;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.2));
  border-radius: 4px 0px 4px 4px;
}

.card.mainCard .mainCard-rating {
  color: var(--white-clr);
  background-color: #24123a;
}

.mainCard .mainCard-title {
  background: rgba(36, 18, 58, 0.76);
}

/* FOOTER */
.footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #24123a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .nameLink {
  color: #ffffff;
  margin-left: 104px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.footer .contactLinks {
  display: flex;
}

.footer .contactLinks * {
  font-size: var(--fs-small);
  line-height: 20px;
  margin-left: 28px;
  list-style-type: none;
  color: #ffffff;
  text-decoration: none;
}
.footer .contactLinks > li:last-child {
  margin-right: 104px;
}
