:root {
  --rating-bg-clr: #707cb4;
  --rating-txt-clr: #fff;
  --card-bg-clr: #190027;
  --header-clr: #1a0029;
  --card-info-title-txt-clr: #707cb4;
  --card-info-txt-clr: #a59aac;
  --card-info-title-size: 14px;
  --card-info-size: 16px;
}

.mainContent.active {
  display: flex;
  width: 1230px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionHeader {
  font-size: 25px;
  text-align: left;
  color: var(--header-clr);
  width: 100%;
  margin-top: 29px;
}

.container {
  display: flex;
  /* parent with --> 1230/2 = 600. + 30 gap*/
  width: 600px;
  margin-top: 30px;

  background-color: var(--card-bg-clr);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 4px;
  height: auto;
  position: relative;
}

.container img {
  border-radius: 4px;
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 3%,
    var(--card-bg-clr) 60%
  );
  mask-image: linear-gradient(to left, transparent 3%, var(--card-bg-clr) 60%);
}

.container li {
  list-style-type: none;
  padding: 6px;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardTitle {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  color: var(--card-info-title-txt-clr);
  margin-top: 16px;
}

.contentTitles {
  color: var(--card-info-title-txt-clr);
  font-size: var(--card-info-title-size);
  font-weight: 500;
  line-height: 14px;
  margin: 0;
  display: block;
  margin-bottom: 6px;
}

.summary,
.cast,
.companies,
.releaseYear,
.genre {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--card-info-txt-clr);
}

.rating {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  height: 50px;
  width: 50px;
  background-color: var(--rating-bg-clr);
  display: flex;
  color: var(--rating-txt-clr);
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 4px;
}
.releaseYear {
  position: absolute;
  right: 10px;
  top: 6px;
}
